{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="calendar-container">
		<div id="calendar"></div>
	</div>

	<div class="pane-room-list bg-sPurple" style="height: 100vh;">
		<button class="pane-room-list-openButton btn btn-sYellow p-1 shadow-none">
			<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
				<g fill="none" stroke="currentColor" stroke-width="2"><path stroke-linejoin="round" d="M2.31 11.242A1 1 0 0 1 3.28 10h17.44a1 1 0 0 1 .97 1.242l-1.811 7.243A2 2 0 0 1 17.939 20H6.061a2 2 0 0 1-1.94-1.515L2.31 11.243Z"/><path stroke-linecap="round" d="M9 14v2m6-2v2m-9-6l4-6m8 6l-4-6"/></g>
			</svg>
		</button>

		<h2 class="text-center my-4">Liste des salles</h2>

		<ul id="container-rooms" class="rooms-list mt-5">
			<template id="room-list-template">
				<li class="bg-sPink rounded-1 w-100 mb-5">
					<a href="#">
						<img src="{{ asset('assets/imgs/room1x800.jpg') }}" class="room-list-img m-0 p-0 w-100" alt="">
						<div class="item-infos px-3 d-flex flex-column justify-content-center">
							<p class="room-list-name py-2 text-center my-0 template-room-recap0">Room A</p>
						</div>
					</a>
				</li>
			</template>
		</ul>


	</div>
	<link rel="stylesheet" href="{{ asset('assets/css/dashboard.admin.css') }}">
	<script src="{{ asset('assets/js/fullCalendar.js') }}"></script>
	<script src="{{ asset('assets/js/dashboard.admin.js') }}"></script>
	<script src="{{ asset('assets/js/tools.admindashboard.js') }}"></script>

{% endblock %}
